.loading{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loading__mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
}
.loading__content{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    width: 50%;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
}

.loading__content__button {
    margin-top: 20px;
}
.loading__content__button button {
    margin-left: 20px;
}
